
@{
    ViewBag.Title = "AddUserMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .wf {
        outline: 1px solid white;
        min-height: 50px;
        width: 100%;
        text-align:right;
    }
</style>
<body>
   
    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-6">
                <div class="wf">  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">AddNewPurchase</button></div>
            </div>
            <div class="col-sm-6">
                <div class="wf"></div>
            </div>
        </div>
    </div>
    
</body>





